.osnova{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baza a{
    color: rgb(0, 0, 0);
}

header {
    width: 100%;
    background-color: grey;
    height: 150px;
    margin-bottom: 10px;
}

header div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header img{
    float:left;
    margin:10px; 
    width:100px; 
    height:100px;
}
.baza .main{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
.baza nav{
    background-color:grey;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.baza .Spisok{
    background-color:grey;
    margin-bottom: 10px; order: 1;
    padding: 50px;
}
.baza .tabl{
    background-color: grey;
    margin-bottom: 10px; order: 2;
}
.baza .F{
    background-color: grey;
    margin-bottom: 10px; order: 3;
}
.ch{
    background-color: grey;
}
.nch{
    background-color: rgb(34, 181, 207);
}
.baza footer{
    background-color: grey;
    width: 100%;
    display: flex;
    padding-top: 30px;
    height: 50px;
}
@media screen and (min-width: 1000px){
    .baza header div{
        display: flex;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    header{
        margin-bottom: 30px;
    }
    .baza header img{
        float: left;
        width: 100px;
        height: 100px;
    }
    .baza{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .baza .main{
       width: 960px;
    }
    .baza nav{
        width: 960px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .baza .Spisok{
        width: 960px;
        margin-bottom: 30px;
        padding: 0px;
        order: 1;
    }
    .baza .Tabli{
        width: 960px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        order: 2;
    }
    .baza .Forma{
        
        width: 960px;
        margin-bottom: 30px;
        order: 3;
    }
    .baza footer{
        width: 100%;
        height: 100px;
        padding-top: 75px;
    }
}